INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
configure~
depcomp
install-sh
install-sh~
missing
sfe
sfe.db
src/.deps/
src/.dirstamp

src/*.o
forms/*.ui
*.kdev4
.kdev4
