
/* ColumnView header bar are buttons */
columnview.view button {
	color: cyan;
	background-color: #404000;
	font-weight: bold; 
}

columnview.view row {
	line-height: 10px;
}

/*
columnview.view row:nth-child(even) {
	background-color: #202020;
}
*/

columnview.view row:active, columnview.view row:focus { 
	background-color: #c0c010;
	color: black;
	font-weight: bold;
}

/*
 * columnview.view column button { text-align: left; }
 */

.btn-add-new {
	color: black;
 	background: yellow;
	font-weight: bold;
}

.btn-remove {
        color: black;
        background: orange;
        font-weight: bold;
}

.btn-update {
        color: black;
        background: cyan;
        font-weight: bold;
}
